*~
/docs/mylittlengs
*.o
*.so
tests/pytest/code*.cpp
py_tutorials/code*.cpp
.vs
out
CMakeSettings.json
/external_dependencies/*.tar.gz
/external_dependencies/*.tgz
#for using lsp-mode on emacs the compile_commands.json must be in the source folder
compile_commands.json
.cquery_cached_index
ng*.html
ng*.trace
*.vtk
.ipynb_checkpoints/
dist
_skbuild

build
em_build
em_install
__pycache__
vtk_example2_step*.vtu
vtk_example3_step*.vtu
tests/pytest/*.log
tests/pytest/*.log_*
docs/i-tutorials/unit-5a.1-mpi/solution.pickle*
