
.wy-nav-side {
    padding-bottom: 3em;
}

table.docutils {
    width: 100%;
    table-layout: fixed;
}

.wy-table td, .rst-content table.docutils td {
    overflow: hidden;
}
/*
table.docutils span.scrollable {
    display: block;
    overflow: auto;
}
*/

table.rows p {
    font-size: 100%;
}

table.rows th {
    background-color: #2980B9;
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #AAAAAA;
    text-align: center;
    color: white;
}
table.rows td {
    white-space: normal;
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #AAAAAA;
}

table.rows tr {
    border-style: solid solid solid solid;
    border-width: 0px 0px 0px 0px;
    border-color: #AAAAAA;
}

table.rows tr:nth-child(even) {
    background-color: white;
}
table.rows tr:nth-child(odd) {
    background-color: grey;
}

div.nboutput div.output_area {
    max-height: 400px;
}

.highlight {
    background: #f5f5f5;
}

.rst-content code.literal {
    background-color: #f5f5f5;
    color: #404040;
}


.rst-content code.download {
    color: rgb(41, 128, 185);
    background-color: white;
}
